{% extends 'base.html.twig' %}
{% block body %}

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <title>
        Giftos
    </title>
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <!-- Custom styles for this template -->
    <link href="../css/123.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
</head>
<style>
    .hader1{
        text-align: center;
    }
</style>

        <div class="heading_container ">
            <h2 class="hader1">
                Contact Us
            </h2>
        </div>

    <div class="container container-bg">
        <div class="row">
            <div class="col-lg-7 col-md-6 px-0">
                <div class="map_container">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.945408840035!2d106.70448827490843!3d10.815489789335686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752896b7078a05%3A0xfe9d7fe53a97952e!2zQ2h1bmcgY8awIFRo4buneSBM4bujaSA0LCAyMDUgTmd1eeG7hW4gWMOtLCBQaMaw4budbmcgMjYsIELDrG5oIFRo4bqhbmgsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1689489381448!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 px-0">
                        {{ form_start(form) }}
                        {{ form_row(form.Email, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_row(form.Phone, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_row(form.Massage, { 'attr': {'class': 'form-control', 'rows': 5} }) }}
                        {{ form_row(form.Name, { 'attr': {'class': 'form-control'} }) }}
                <div class="create">
                    <button class="btn btn-primary btn-block" type="submit">Send</button>
                </div>
                <div class="signup-link">
                    <a href="{{ path('app_home') }}">Back to Home</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>

{#    <h1>Create new Contact</h1>#}
{#{{ form_start(form) }}#}
{#{{ form_row(form.Email, { 'attr': {'class': 'form-control'} }) }}#}
{#{{ form_row(form.Phone, { 'attr': {'class': 'form-control'} }) }}#}
{#{{ form_row(form.Massage, { 'attr': {'class': 'form-control', 'rows': 5} }) }}#}
{#{{ form_row(form.Name, { 'attr': {'class': 'form-control'} }) }}#}





{#    {{ include('contact/_form.html.twig') }}#}

{#    <a href="{{ path('app_home') }}">back to home</a>#}
{% endblock %}
